.tag {
  display: inline;
  background: rgba(#DC7800, 0.7);
  font-size: 16px;
  border-radius: 16px;
  padding: 4px 12px;
  color: $light;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #DC7800;;
}